/************/
/*  CUSTOM  */
/************/

:root {
    --black_100: rgba(0, 0, 0, 1);
    --black_075: rgba(0, 0, 0, .75);
    --black_050: rgba(0, 0, 0, .50);
    --black_025: rgba(0, 0, 0, .25);
    --black_015: rgba(0, 0, 0, .15);
    --black_005: rgba(0, 0, 0, .05);
    --white: rgba(255, 255, 255, .9);
    --white_100: rgba(255, 255, 255, 1);
    --white_075: rgba(255, 255, 255, .75);
    --white_050: rgba(255, 255, 255, .50);
    --white_025: rgba(255, 255, 255, .25);
    --white_015: rgba(255, 255, 255, .15);
    --blue_100: rgba(33, 150, 243, 1);
    --blue_075: rgba(33, 150, 243, .75);
    --blue_050: rgba(33, 150, 243, .50);
    --blue_025: rgba(33, 150, 243, .25);
    --blue_015: rgba(33, 150, 243, .15);
    --blue_005: rgba(33, 150, 243, .05);
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('img/backgrounds/background-texture-13.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom center !important;
    background-color: transparent !important;
    color: var(--black_075) !important;
}

header {
    background-color: unset !important;
    box-shadow: rgb(0 0 0 / 25%) 0px 7px 10px !important;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
    background-size: 600% 600%;

    -webkit-animation: gradientAni 30s ease infinite;
    -moz-animation: gradientAni 30s ease infinite;
    animation: gradientAni 30s ease infinite;
}

#dropdown.active {
    background-color: unset !important;
    color: var(--white);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25));
    background-size: 600% 600%;
    -webkit-animation: gradientAni 30s ease infinite;
    -moz-animation: gradientAni 30s ease infinite;
    animation: gradientAni 30s ease infinite;
}

header button {
    color: var(--white) !important;
}

header img {
    height: 110px !important;
    transform: scale(1);
    /*cursor: pointer;*/
    transition: all 0.5s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

header img:hover {
    transform: scale(1.2)rotate(360deg);
}

#search {
    display: none !important;
}

#login {
    background: transparent !important;
}

#login form img {
    width: 100% !important;
    height: 100% !important;
}

#login h1 {
    display: none !important;
}

.action {
    color: var(--black_075);
    border-left: unset;
    transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

nav .action:hover,
#listing .item:hover {
    color: var(--blue_100) !important;
    background-color: var(--black_015) !important;
    border-left: 3px solid var(--blue);
}

nav .action:active {
    color: var(--blue_100) !important;
    background-color: var(--black_015) !important;
    border-left: 3px solid var(--blue);
}

#dropdown .action {
    /*transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1) !important;*/
}

#dropdown .action:hover {
    background-color: unset !important;
    color: var(--white) !important;
    transform: scale(1.15)rotate(360deg);
    box-shadow: rgb(255 255 255 / 85%) 0px 0px 10px;
    background: linear-gradient(270deg, var(--blue_025), var(--blue_050), var(--blue_075), var(--blue_100), var(--blue_075), var(--blue_050), var(--blue_025), var(--white_025), var(--white_075), var(--white_050), var(--white_025));
    background-size: 600% 100%;
    -webkit-animation: gradientAni 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    -moz-animation: gradientAni 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    animation: gradientAni 5s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
}

#dropdown .action i {
    padding: 1.0em !important;
    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
}

#dropdown .action i:hover {
    padding: .4em !important;
    transform: scale(1.25)rotate(360deg);
}

#listing.list {
    box-shadow: rgb(0 0 0 / 25%) 0px 7px 10px;
}

#listing.list .item.header {
    background: var(--black_015) !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#listing .item .name {
    text-transform: uppercase;
    /*font-variant-caps: all-petite-caps;*/
}

#listing.list .header span {
    font-variant-caps: all-petite-caps;
}

#listing .item {
    color: var(--black_075) !important;
    border-left: unset;
    transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.credits {
    display: none !important;
}

nav {
    border-right: 1px solid var(--black_005);
    border-bottom: 1px solid var(--black_005);
    border-bottom-right-radius: 7px;
    box-shadow: rgb(0 0 0 / 25%) 7px 7px 10px;
}

nav .action {
    font-size: 1em !important;
    padding: 1.5em !important;
}

nav .action span {
    font-variant-caps: all-petite-caps;
}

/**********/
/* MOBILE */
/**********/

@media (max-width: 736px) {

    #dropdown .action i {
        padding: .4em !important;
        transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1) !important;
    }

}



/*************/
/* KEYFRAMES */
/*************/
@-webkit-keyframes gradientAni {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradientAni {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes gradientAni {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/************/
/* DEFAULTS */
/************/

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    transition: .1s ease opacity;
    -webkit-transition: .1s ease opacity;
}

#loading.done {
    opacity: 0;
}

#loading .spinner {
    width: 70px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loading .spinner>div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#loading .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#loading .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}